<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start start">
    <div fxFlex="100">Is your spouse living currenlty?</div>
    <mat-radio-group fxFlex="100"> 
      <mat-radio-button value="1">Yes</mat-radio-button>
      <mat-radio-button value="2">No</mat-radio-button>
    </mat-radio-group>  

      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" maxlength="30" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
        <input matInput placeholder="First Name" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>


      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
        <input matInput maxlength="30" placeholder="Last Name" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>

      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100">
        <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Date of birth" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="">
        <input matInput maxlength="30" placeholder="Occupation" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>

      <div fxFlex="100">Do you have child?</div>
      <mat-radio-group fxFlex="100"> 
        <mat-radio-button value="1">Yes</mat-radio-button>
        <mat-radio-button value="2">No</mat-radio-button>
      </mat-radio-group>

      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" maxlength="30" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
        <input matInput placeholder="First Name" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
  
  
      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
        <input matInput maxlength="30" placeholder="Last Name" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
  
      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100">
        <input matInput [max]="maxDateChild" [matDatepicker]="picker2" placeholder="Date of birth" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker2></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
        <input matInput maxlength="30" placeholder="Last Name" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
      
      <div fxFlex="100">
        <button mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button> 
        Add More Child
      </div>

      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" maxlength="30" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
          <input matInput placeholder="First Name" required>
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    
    
        <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
          <input matInput maxlength="30" placeholder="Last Name" required>
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100">
          <input matInput [max]="maxDateChild" [matDatepicker]="picker3" placeholder="Date of birth" required>
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker3></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
          <input matInput maxlength="30" placeholder="Last Name" required>
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
</div>
