@import '~sass/variables';
@import '~sass/mixins';
ngx-carousel {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    @media screen and (max-width: 375px) {
        width: 85% !important;
        max-width: 85% !important;
        margin-top: 5px !important;
    }
    .hinduTempleCarousel {
        max-width: 100%;
        display: block;
    }
    .leftArr, .rightArr {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        color: $white;
        @include gradient($home-direction, $home-gradientColor);
    }
    .leftArr {
        left: 0;
    }
    .rightArr {
        right: 0;
    }
    
}