<section id="ourServices" class="container">
    <div id="titleForOurServices">
        <h1 ngClass.gt-sm="mat-headline">Over Services</h1>
    </div>
    <div id="servicesMessage">
        <p class="text-center">The Temple has many services to offer hall and decoration material on rental basis. we do food catering on our location and various place. We have a variety of facilities and priest services that can meet your needs.</p>
    </div>
    <div class="servicestiles" fxLayoutAlign="space-around center" >
        <div id="tilesLgContainer" fxHide fxHide.gt-xs="false" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutWrap="wrap" fxFlex="75">
          <div fxFlex="45"  class="tile-card service-tiles">
            <div class="tileContent">
                <img src="./../../assets/services/priest-md.jpg" alt="" fxHide fxHide.sm="false">
                <img src="./../../assets/services/priest-lg.jpg" alt="" fxHide fxHide.gt-sm="false">
                <div class="text-content">
                  <h4 class="mat-title">Priest Services</h4>
                  <mat-icon svgIcon="worship"></mat-icon>
                  <div class="btn-cotianer">
                    <button mat-raised-button color="primary">Hire Me</button>
                  </div>
                </div>
             </div>
          </div>
          <div fxFlex="45"  class="tile-card service-tiles">
            <div class="tileContent">
                <img src="./../../assets/services/food-md.jpg" alt="" fxHide fxHide.sm="false">
                <img src="./../../assets/services/food-lg.jpg" alt="" fxHide fxHide.gt-sm="false">
                <div class="text-content">
                  <h4 class="mat-title">Food Catering</h4>
                  <mat-icon svgIcon="food"></mat-icon>
                  <div class="btn-cotianer">
                    <button mat-raised-button color="primary">Order Now</button>
                  </div>
                </div>
              </div>
          </div>
          <div fxFlex="45"  class="tile-card service-tiles">
            <div class="tileContent">
                <img src="./../../assets/services/hall-rental-md.jpg" alt="" fxHide fxHide.sm="false">
                <img src="./../../assets/services/hall-rental-lg.jpg" alt="" fxHide fxHide.gt-sm="false">
                <div class="text-content">
                  <h4 class="mat-title">Building Rental</h4>
                  <mat-icon svgIcon="building"></mat-icon>
                  <div class="btn-cotianer">
                    <button mat-raised-button color="primary">Rent Now</button>
                  </div>
                </div>
              </div>
          </div>
          <div fxFlex="45"  class="tile-card service-tiles">
            <div class="tileContent">
                <img src="./../../assets/services/hall-dec-md.jpg" alt="" fxHide fxHide.sm="false">
                <img src="./../../assets/services/hall-dec-lg.jpg" alt="" fxHide fxHide.gt-sm="false">
                <div class="text-content">
                  <h4 class="mat-title">Decoration Services</h4>
                  <mat-icon svgIcon="decoration"></mat-icon>
                  <div class="btn-cotianer">
                    <button mat-raised-button color="primary">Book Now</button>
                  </div>
                </div>
              </div>
          </div>
      </div>


      <div id="tilesXsContainer" fxFlex="100" fxHide fxHide.xs="false">
          <div fxLayout="column" fxLayoutAlign="start stretch">
              <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                  <img src="../../../assets/services/priest-thumbmail.jpg">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Priest Services</h4>
                    <p mat-line>this is detailsdds sdsdsd</p>
                    <button mat-mini-fab color="primary">
                      <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button>
                </div>
              </mat-card>
              <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                  <img src="../../../assets/services/food-thumbmail.jpg">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Food Services</h4>
                    <p mat-line>this is detailsdds sdsdsd</p>
                    <button mat-mini-fab color="primary">
                      <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button>
                </div>
              </mat-card>
              <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                  <img src="../../../assets/services/hall-rental-thumbmail.jpg">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Hall Rental</h4>
                    <p mat-line>this is detailsdds sdsdsd</p>
                    <button mat-mini-fab color="primary">
                      <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button>
                </div>
              </mat-card>
              <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                  <img src="../../../assets/services/hall-thumbmail.jpg">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Decoration Service</h4>
                    <p mat-line>this is detailsdds sdsdsd</p>
                    <button mat-mini-fab color="primary">
                      <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button>
                </div>
              </mat-card>
          </div>
      </div>
    </div>
</section>
<div></div>