/* You can add global styles to this file, and also import other style files */


// mat-font-size($config, $level) - Gets the font-size, based on the provided config and level.
// mat-font-family($config) - Gets the font-family, based on the provided config.
// mat-line-height($config, $level) - Gets the line-height, based on the provided config and level.
// mat-font-weight($config, $level) - Gets the font-weight, based on the provided config and level.
// mat-typography-level-to-styles($config, $level) - Mixin that takes in a configuration object and a typography level, and outputs a short-hand CSS font declaration.


@import "~@angular/material/theming";
@import "./_variables";
@import "./_mixins";
@import "./spinner";
$custom-typography: mat-typography-config(
  $font-family: $font-family,
  $headline: $headline,
  $body-1: $body-1
);

@include mat-core($custom-typography);
$custom-primary: mat-palette($mat-deep-orange);
$custom-accent: mat-palette($mat-orange);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);
// Create a config with the default typography levels.
$config: mat-typography-config();


html, 
body {
    margin: 0;
    padding: 0;
    font-family: mat-font-family($config);
    font-size: mat-font-size($config, body-1);
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #cccccc;
}
*, ::after, ::before {
    box-sizing: border-box;
}

/* =============================================
                Container styel
===============================================*/
.container {
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1080px;
    }
}
/* =============================================
                Align styel
===============================================*/

.text-center {
    text-align: center
}
.text-right {
    text-align: right
}
.text-left {
    text-align: left
}
.content-center {
    display: flex;
    justify-content: center;
}
.content-centered {
    display: flex;
    align-content: center;
    justify-content: center;
}

/* =============================================
            Navbar and Footer styel
===============================================*/
//Home Page
mat-sidenav-container.home {
    header mat-toolbar.mat-toolbar.navIsFixed,
    footer #appFooter,
    footer .mbALlLinks  mat-expansion-panel{
        @include gradient($home-direction, $home-gradientColor);
    }
}
//Priest Page
mat-sidenav-container.priest {
    header mat-toolbar.mat-toolbar.navIsFixed,
    footer #appFooter,
    footer .mbALlLinks  mat-expansion-panel {
        @include gradient($priest-direction, $priest-gradientColor);
    }
    
}

//Hall Rental Page
mat-sidenav-container.hall-rental {
    header mat-toolbar.mat-toolbar.navIsFixed,
    footer #appFooter,
    footer .mbALlLinks  mat-expansion-panel {
        @include gradient($hall-rental-direction, $hall-rental-gradientColor);
    }
    
}

//food catering Page
mat-sidenav-container.food-catering {
    header mat-toolbar.mat-toolbar.navIsFixed,
    footer #appFooter,
    footer .mbALlLinks  mat-expansion-panel {
        @include gradient($food-catering-direction, $food-catering-gradientColor);
    }
    
}

//About US Page
mat-sidenav-container.about-us {
    header mat-toolbar.mat-toolbar.navIsFixed,
    footer #appFooter,
    footer .mbALlLinks  mat-expansion-panel {
        @include gradient($about-us-direction, $about-us-gradientColor);
    }
    
}
//Contact Us Page
mat-sidenav-container.contact-us {
    header mat-toolbar.mat-toolbar.navIsFixed,
    footer #appFooter,
    footer .mbALlLinks  mat-expansion-panel {
        @include gradient($contact-us-direction, $contact-us-gradientColor);
    }
    
}
//Sign Up Page
mat-sidenav-container.sign-up {
    header mat-toolbar.mat-toolbar.navIsFixed,
    footer #appFooter,
    footer .mbALlLinks  mat-expansion-panel {
        @include gradient($sign-up-direction, $sign-up-gradientColor);
    }
    
}

//Sign In Page
mat-sidenav-container.sign-in {
    header mat-toolbar.mat-toolbar.navIsFixed,
    footer #appFooter,
    footer .mbALlLinks  mat-expansion-panel {
        @include gradient($sign-in-direction, $sign-in-gradientColor);
    }
    
}

/* =============================================
           Common styel
===============================================*/
// title for every page


.white-paper {
    width: 100%;
    position: relative;
    background: $white;
    @include mat-elevation(12);
    margin-top: -120px;
    z-index: 4;
    padding-bottom:20px; 
    border-radius: 20px;
    .pagetitelcontainer {
        display: flex;
        justify-content: center;
        .titleContent {
            width: auto;
            padding: 10px 20px;
            position: relative;
            top:-35px;
            border-radius: 10px;
            &.xs-titleContent {
                top: -30px;
            }
            @include mat-elevation(12);
            .page-title {
                color: $white;
                line-height: 1;
                margin: 0;
                font-size: 48px;
                font-family: $title-font;
                text-shadow: 4px 4px 4px #aaa;
                &.xs-page-title {
                    font-size: 32px;
                }
            }
        }
    }
}

/**************************************
// over-write style on tab*************
**************************************/
#cateringFoodSection {
    mat-tab-group  {
        mat-tab-header {
            .mat-tab-labels {
                justify-content: center;
                align-content: center;
                .mat-tab-label{
                    height: 112px;
                    @media screen and (max-width: 599px) {
                        height: 92px;
                    }
                    mat-icon {
                        width: 72px;
                        height: 72px;
                    }
                    &.mat-tab-label-active {
                        mat-icon {
                            svg {
                                fill:#7919f2;
                            }
                        }
                        h3 {
                            color: #7919f2
                        }
                    }
                }
                
            }
            .mat-ink-bar {
                background-color:#7919f2;
            }
        }
    }
}