<section id="hero-sign-in" ngStyle.xs="padding-top:74px; height: 250px;" ngStyle.sm="height: 300px;">
</section>

<div class="container">
    <div id="whitePaperSignIn" class="white-paper" ngStyle.xs="margin-top:-60px;"  ngStyle.sm="margin-top:-90px;">
        <div class="pagetitelcontainer">
            <div class="titleContent" ngClass.xs="xs-titleContent">
                <h3 class="page-title" ngClass.xs="xs-page-title">Login</h3>
            </div>
        </div>
        <div class="whitepaperCountainer">
            <p class="mat-body-1 text-center pageMessage">
                you can sign in you membership to see your donation history, maitrimonial data, membership news etc...
            </p>
            <app-signin-form></app-signin-form>
        </div>
    </div>
</div>