@import '~sass/variables';
@import '~sass/mixins';
#hero-contact-us {
    padding-top: 112px;
    height: 400px;
    @include gradient($contact-us-direction, $contact-us-gradientColor);
}
#whitePaperContactUs.white-paper {
    width: 100%;
    position: relative;
    background: $white;
    @include mat-elevation(12);
    margin-top: -120px;
    z-index: 4;
    padding-bottom:20px; 
    border-radius: 20px;
    .pagetitelcontainer {
        .titleContent {
            @include gradient($contact-us-direction, $contact-us-gradientColor);
        }
    }
    .whitepaperCountainer {
        padding: 20px;
        #contactUsAddress {
            margin-bottom: 20px;
            p {
                margin: 0;
            }
        }
        
    }
}