@import '~sass/variables';
@import '~sass/mixins';
#hero-contact-us {
    padding-top: 112px;
    height: 400px;
    @include gradient($contact-us-direction, $contact-us-gradientColor);
}
#whitePaperContactUs {
    .pagetitelcontainer {
        .titleContent {
            @include gradient($contact-us-direction, $contact-us-gradientColor);
        }
    }
    #contactUsAddress {
        padding:0 20px;
        margin-bottom: 10px;
        p {
            margin: 0;
        }
    }
    .whitepaperCountainer {
        padding: 20px;
    }
}