<section id="hero-contact-us" ngStyle.xs="padding-top:74px; height: 250px;" ngStyle.sm="height: 300px;">
</section>
<div class="container">
  <div id="whitePaperContactUs" class="white-paper" ngStyle.xs="margin-top:-60px;" ngStyle.sm="margin-top:-90px;">
    <div class="pagetitelcontainer">
      <div class="titleContent" ngClass.xs="xs-titleContent">
        <h3 class="page-title" ngClass.xs="xs-page-title">Contact Us</h3>
      </div>
    </div>
    <div class="whitepaperCountainer" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="75" fxFlex.sm="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div id="findUsContact" fxHide fxHide.gt-xs="false" fxFlex="45">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <mat-icon>home</mat-icon> Find us at the temple
              </mat-card-title>
            </mat-card-header>
          <mat-card-content>
            <p>
              1035 Five Chop Road,
              <br> Orangeburg,
              <br> SC 29115.
              <br> United State.
            </p>
          </mat-card-content>
          </mat-card>
        </div>
        <div id="giveUsRing" fxHide fxHide.gt-xs="false" fxFlex="45">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <mat-icon>home</mat-icon> Give us a ring
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                 Bipin Patel <br>
                 +1 (123)456-7887
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div id="contactUsForm" fxFlex="100"></div>
      </div>
    </div>
  </div>
</div>