@import '~sass/_mixins';
@import '~sass/_variables';
/* COLOR VARIABLES
============================================= */
#hero-about-us {
    padding-top: 112px;
    height: 400px;
    @include gradient($about-us-direction, $about-us-gradientColor);
}
#whitePaperAboutUs {
    .titleContent {
        @include gradient($about-us-direction, $about-us-gradientColor);
    }
    .whitepaperCountainer {
        padding: 20px;
        p.pageMessage {
            img {
                float: left;
            }
        }
    }
}