<section id="mobAppAvailable" class="container">
        <div id="titleForMobAppAvailable">
            <h1 ngClass.gt-sm="mat-headline">Apps Available</h1>
        </div>
        <div id="mobAppAvailableMessage">
            <p class="text-center">
                Our Applications are available on both store apple store and android store, 
                application offers media, gallery, bhajan, Gujarati Letters writing practice 
                for kids, devoties wallpaper etc….
            </p>
        </div>
        <div class="btn-container text-center">
            <a href="#">
                <img ngStyle.xs="width:90px" src="../../assets/icons/apple-app.svg"/>
            </a>
            <a href="#">
                <img ngStyle.xs="width:90px" src="../../assets/icons/google-app.svg"/>
            </a>
        </div>
        <div class="mobile-container">
            <div class="phones-img-continer">
                <img id="appleImg" ngStyle.xs="width:120px" src="../../assets/icons/iphone.svg"/>
                <img id="androidImg" ngStyle.xs="width:120px" src="../../assets/icons/android.svg"/>
            </div>
        </div>
</section>