<section id="hero-hall-rental"  ngStyle.xs="padding-top:74px; height: 250px;" ngStyle.sm="height: 300px;"></section>
<div class="container">
    <div id="whitePaperHallRental" class="white-paper" ngStyle.xs="margin-top:-60px;"  ngStyle.sm="margin-top:-90px;">
        <div class="pagetitelcontainer">
            <div class="titleContent" ngClass.xs="xs-titleContent">
                <h3 class="page-title" ngClass.xs="xs-page-title">Hall Rental</h3>
            </div>
        </div>
        <div class="whitepaperCountainer">
            <p class="mat-body-1 text-center pageMessage">
                Orangeburg, South Carolina is the perfect spot for your next wedding event. temple's hall is a short 8 minute drive from the airport and surrounded by various luxury hotels and places to find fine dining and drinking.
            </p>
            <mat-card>
                <iframe width="260" height="180"src="https://www.youtube.com/embed/q5ny8dsqWIs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </mat-card>
            <app-hall-rental-form></app-hall-rental-form>
        </div>
    </div>
</div>