@import '~sass/variables';
@import '~sass/mixins';
mat-toolbar{
    height: 112px;
    padding: 0;
    background:transparent;
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 5;
    #temple-logo {
        display: flex;
        justify-content: left;
        align-content: center;
        width: 100%;
        height: 100%;
        img {
            width: 92px;
            height: 92px;
            margin-top: 5px;
        }
    }
    &.navIsFixed {
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        height: 74px;
        @include mat-elevation(8);
    }
}
