#mob-nav-list {
    margin-top: 30px;
    mat-list {
        .hind-mob-list {
            margin-bottom: 5px;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        }
    }
    mat-expansion-panel {
        margin-bottom: 5px;
        mat-expansion-panel-header {
            padding: 0 18px;
        }
    }
}