 <div id="mob-nav-list">
    <mat-nav-list role="list">
        <a mat-list-item class="hind-mob-list"  role="listitem" routerLink="/home">Home</a>
    </mat-nav-list>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Services
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list role="list">
              <a mat-list-item class="hind-mob-list" routerLink="/priest" role="listitem">Priest</a>
              <a mat-list-item class="hind-mob-list" routerLink="/priest" role="listitem">Food Catering</a>
              <a mat-list-item class="hind-mob-list" routerLink="/hall-rental" role="listitem">Hall Booking</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Gallery
            </mat-panel-title>
          </mat-expansion-panel-header>
            <mat-nav-list role="list">
                <a mat-list-item class="hind-mob-list"role="listitem">Pictures</a>
                <a mat-list-item class="hind-mob-list"role="listitem">Video</a>
                <a mat-list-item class="hind-mob-list"role="listitem">Music</a>
                <a mat-list-item class="hind-mob-list"role="listitem">Books</a>
              </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-nav-list role="list">
          <a mat-list-item class="hind-mob-list" role="listitem" routerLink="/about-us">About Us</a>
          <a mat-list-item class="hind-mob-list" role="listitem" routerLink="/contact-us">Contact US</a>
          <a mat-list-item class="hind-mob-list" role="listitem" routerLink="/sign-up">Membership</a>
      </mat-nav-list>
 </div>