<div class="listOfPriestCharge" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start">
    <div class="leftChargeList">
        <ol>
            <li>Shree Ganesh Abhishek Puja </li>
            <li>Shree Ganesh Homa</li> 
            <li>Shree Laxmi Puja Abhishek</li>   
            <li>Shree Vishnu Sahastra Puja</li>  
            <li>Shree Vishnu Homa</li>   
            <li>Shree Radha Krishna Puja</li> 
            <li>Shree Ramrajopchar Puja</li> 
            <li>Shree Maruti Puja</li>   
            <li>Shree Sundarkand Patha</li>  
            <li>Shree Shiv Abhishek</li> 
            <li>Shree Shiv Pathatmak Laghurudra</li> 
            <li>Shree Shiv Homatmak Laghurudra</li>  
            <li>Shree Panchvakrat Shivmaha Puja</li> 
            <li>Shree Shodshopchar Durga Puja</li>   
            <li>Shree Pathatmak Navachandi</li>  
            <li>Shree Chandi Patha</li>  
            <li>Shree Navgrah Puja &amp; Grahshanti</li> 
            <li>Shree Vat Savitri Vrat Puja</li>
        </ol>
    </div>
    <div class="rightChargeList">
        <ol start="19">
            <li>Shree Navgrah Puja &amp; Grahshanti</li>
            <li>Shree Vat SavitriVrat Puja</li>
            <li>Yagnopavit &amp; Gruhshanti</li>
            <li>Engagement/Vivah</li>
            <li>Marriage</li>
            <li>Vastu Homa Satyanarayan katha</li>
            <li>New Business/Office Puja</li>
            <li>New Born's First Puja</li>
            <li>Nakshatra Yoga Shanti</li>
            <li>Car puja</li>
            <li>Shraddha Karma</li>
            <li>Satya Narayan Katha</li>
            <li>Shree Havan &amp; Satya Narayan Katha</li>
            <li>Chaul Karma - Mundan - Babari</li>
            <li>Uttarkriya  (Rituals following death)</li>
            <li>Pind Saravni ( After Death Vidhi)</li>
            <li>Shree Homatmak Navchandi</li>
            <li>Lagna Kankotri</li>
        </ol>
    </div>
</div>
