<section id="listOfBod" class="container">
    <div id="titleForListOfBod">
        <h1 ngClass.gt-sm="mat-headline">List of Board Director</h1>
    </div>
    <div id="listOfBodMessage">
        <p class="text-center">
          message from board of directors
        </p>
    </div>
    <div id="profileContainer" fxHide fxHide.gt-xs="false" fxLayout="row" fxLayoutAlign="start start"  fxLayoutWrap="wrap">
      <div fxFlex="25"  fxFlex.sm="33" class="profile-img-container" >
          <mat-card>
              <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <img fxHide fxHide.gt-sm="false" src="http://placehold.it/200x200" class="md-card-image" alt="user avatar">
                  <img fxHide fxHide.sm="false" src="http://placehold.it/180x180" class="md-card-image" alt="user avatar">
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex="25"  fxFlex.sm="33" class="profile-img-container" >
          <mat-card>
              <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <img fxHide fxHide.gt-sm="false" src="http://placehold.it/200x200" class="md-card-image" alt="user avatar">
                  <img fxHide fxHide.sm="false" src="http://placehold.it/180x180" class="md-card-image" alt="user avatar">
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex="25"  fxFlex.sm="33" class="profile-img-container" >
          <mat-card>
              <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <img fxHide fxHide.gt-sm="false" src="http://placehold.it/200x200" class="md-card-image" alt="user avatar">
                  <img fxHide fxHide.sm="false" src="http://placehold.it/180x180" class="md-card-image" alt="user avatar">
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex="25"  fxFlex.sm="33" class="profile-img-container" >
          <mat-card>
              <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <img fxHide fxHide.gt-sm="false" src="http://placehold.it/200x200" class="md-card-image" alt="user avatar">
                  <img fxHide fxHide.sm="false" src="http://placehold.it/180x180" class="md-card-image" alt="user avatar">
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex="25"  fxFlex.sm="33" class="profile-img-container" >
          <mat-card>
              <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <img fxHide fxHide.gt-sm="false" src="http://placehold.it/200x200" class="md-card-image" alt="user avatar">
                  <img fxHide fxHide.sm="false" src="http://placehold.it/180x180" class="md-card-image" alt="user avatar">
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex="25"  fxFlex.sm="33" class="profile-img-container" >
          <mat-card>
              <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <img fxHide fxHide.gt-sm="false" src="http://placehold.it/200x200" class="md-card-image" alt="user avatar">
                  <img fxHide fxHide.sm="false" src="http://placehold.it/180x180" class="md-card-image" alt="user avatar">
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex="25"  fxFlex.sm="33" class="profile-img-container" >
          <mat-card>
              <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <img fxHide fxHide.gt-sm="false" src="http://placehold.it/200x200" class="md-card-image" alt="user avatar">
                  <img fxHide fxHide.sm="false" src="http://placehold.it/180x180" class="md-card-image" alt="user avatar">
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex="25"  fxFlex.sm="33" class="profile-img-container" >
          <mat-card>
              <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <img fxHide fxHide.gt-sm="false" src="http://placehold.it/200x200" class="md-card-image" alt="user avatar">
                  <img fxHide fxHide.sm="false" src="http://placehold.it/180x180" class="md-card-image" alt="user avatar">
              </mat-card-content>
          </mat-card>
      </div>
      <div fxFlex="25"  fxFlex.sm="33" class="profile-img-container" >
          <mat-card>
              <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <img fxHide fxHide.gt-sm="false" src="http://placehold.it/200x200" class="md-card-image" alt="user avatar">
                  <img fxHide fxHide.sm="false" src="http://placehold.it/180x180" class="md-card-image" alt="user avatar">
              </mat-card-content>
          </mat-card>
      </div>
    </div>
    <div id="bodXsContainer" fxHide fxHide.xs="false">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                    <img src="http://placehold.it/84x84">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Priest Services</h4>
                    <p mat-line>Board of Director</p>
                    <!-- <button mat-mini-fab color="primary">
                        <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button> -->
                </div>
            </mat-card>
            <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                    <img src="http://placehold.it/84x84">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Priest Services</h4>
                    <p mat-line>Board of Director</p>
                    <!-- <button mat-mini-fab color="primary">
                        <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button> -->
                </div>
            </mat-card>
            <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                    <img src="http://placehold.it/84x84">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Priest Services</h4>
                    <p mat-line>Board of Director</p>
                    <!-- <button mat-mini-fab color="primary">
                        <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button> -->
                </div>
            </mat-card>
            <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                    <img src="http://placehold.it/84x84">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Priest Services</h4>
                    <p mat-line>Board of Director</p>
                    <!-- <button mat-mini-fab color="primary">
                        <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button> -->
                </div>
            </mat-card>
            <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                    <img src="http://placehold.it/84x84">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Priest Services</h4>
                    <p mat-line>Board of Director</p>
                    <!-- <button mat-mini-fab color="primary">
                        <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button> -->
                </div>
            </mat-card>

            <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                    <img src="http://placehold.it/84x84">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Priest Services</h4>
                    <p mat-line>Board of Director</p>
                    <!-- <button mat-mini-fab color="primary">
                        <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button> -->
                </div>
            </mat-card>
            <mat-card fxLayout="row" fxLayoutAlign="start stretch">
                <div class="tile-thumbmail" fxFlex="84px">
                    <img src="http://placehold.it/84x84">
                </div>
                <div class="tileContent" fxFlex>
                    <h4 mat-line>Priest Services</h4>
                    <p mat-line>Board of Director</p>
                    <!-- <button mat-mini-fab color="primary">
                        <mat-icon svgIcon="hand-pointer"></mat-icon>
                    </button> -->
                </div>
            </mat-card>
        </div>
    </div>
</section>