@import '~sass/_mixins';
@import '~sass/_variables';
/* COLOR VARIABLES
============================================= */
.form-container {
    form {
        padding: 15px;
        @include mat-elevation(12);
        .formTitle {
            h3 {
                margin: 0 auto;
                text-align: center;
                text-decoration: underline;
                margin-bottom: 5px;
                font-size: 18px;
            }
        }
        .submitBtnContainer {
            #xsSingInSubmit,
            #lgSingInSubmit {
                @include gradient($sign-in-direction, $sign-in-gradientColor);
                color:$white;
            }
        }
    }    
}