<section id="hero-sign-up" ngStyle.xs="padding-top:74px; height: 250px;" ngStyle.sm="height: 300px;">
</section>
<div class="container">
  <div id="whitePaperSignUp" class="white-paper" ngStyle.xs="margin-top:-60px;" ngStyle.sm="margin-top:-90px;">
    <div class="pagetitelcontainer">
      <div class="titleContent" ngClass.xs="xs-titleContent">
        <h3 class="page-title" ngClass.xs="xs-page-title">Sign Up</h3>
      </div>
    </div>
    <div class="whitepaperCountainer" fxLayout="row" fxLayoutAlign="space-around center">
      <div  id="signUpForm" fxFlex="100" fxFlex.gt-sm="75">
        <mat-horizontal-stepper>
          <mat-step id="yourDetailSection" [stepControl]="firstFormGroup">
              <ng-template matStepLabel>Your Details</ng-template>
              <app-yourdetail-forms></app-yourdetail-forms>
          </mat-step>
          <mat-step id="familyDetailSection">
              <ng-template matStepLabel>Family Details</ng-template>
              <app-yourfamily-forms></app-yourfamily-forms>
          </mat-step>
          <mat-step id="paymentDetailSection">
            <ng-template matStepLabel>Payment</ng-template>
            <app-membership-payment-forms></app-membership-payment-forms>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>