<div>
  <router-outlet name="burger-menu"></router-outlet>
</div>
<mat-sidenav-container [className]="o.activatedRouteData.state" fxFlex fxFlexFill>
    <mat-sidenav #sidenav mode="over" disableClose>
      <router-outlet name="sidenav"></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
      <header>
        <router-outlet name="header"></router-outlet>
      </header>
      <main role="main"  [@routerTransition]="getState(o)" style="min-height:20vh;">
        <router-outlet #o="outlet">
        </router-outlet>
      </main>
      <footer>
        <router-outlet name="footer"></router-outlet>
      </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div *ngIf="spinnerRunning" class="globalSpinner">
    <div class="la-ball-square-clockwise-spin la-3x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
</div> -->