@import '~sass/variables';
@import '~sass/mixins';
#gallery {
    margin:10px auto;
    overflow: hidden;
    #titleForGallery {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        h1 {
            color: $primary-heading-color;
            text-shadow: 0 1px 16px rgba(29, 27, 27, 0.4);
            border-bottom: 3px $home-red dashed;
            text-align: center;
            display: inline;   
        }
    }
    #galleryContainer {
        position: relative;
        .ramleela-bg {
            background-image: url('../../../assets/gallery/ram-leela.jpg');
            background-position: 0px 0px;
            background-repeat: repeat;
            height: 100%;
            position: absolute;
            width: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            background-attachment:fixed; 
        }
        .ramleela-content {
            background: rgba(0, 0, 0, 0.75);
            position: relative;
            height: 550px;
            padding: 40px;
            text-align: center;
            .gallery-tile {
                color:$white;
                mat-title {
                    @media ‘screen and (max-width: 599px) {
                        font-size: 16px;
                        margin: 3px;
                    }
                }
                mat-icon {
                    width: 72px;
                    height: 72px;
                    @media ‘screen and (max-width: 599px) {
                        font-size: 64px;
                    }
                }
                .gallery-message {
                    max-width: 220px;
                }
                &.gallery-videos {
                    border-left: 2px dotted $white;
                }
                &.gallery-musics {
                    border-top: 2px dotted $white;
                }
                &.gallery-books {
                    border-top: 2px dotted $white;
                    border-left: 2px dotted $white;
                }
            }
        }
    }
}