<section id="gallery" class="container">
    <div id="titleForGallery">
        <h1 ngClass.gt-sm="mat-headline">Gallery</h1>
    </div>
    <div id="galleryMessage">
        <p class="text-center">
          Photography is an excellent way to capture the entirety of the event experience, 
          offering a stunning look at the general atmosphere, as well as individual emotions
           of the day. In this site, we also having good gujarati religious Books, Bhajan, Kirtan, 
           Arati etc..
        </p>
    </div>

    <div id="galleryContainer">
        <div class="ramleela-bg"></div>
        <div class="ramleela-content" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap" 
        ngStyle.xs="padding: 0;">
            <div fxFlex="45" fxFlex.xs="49" fxLayout="column" fxLayoutAlign="center center" class="gallery-pictures gallery-tile">
                <h4 class="mat-title">Pictures</h4> 
                <mat-icon svgIcon="pictures"></mat-icon>
                <div class="gallery-message">
                    <p class="mat-body1">
                        We captured all events pictures you can see pictures in gallery page.
                    </p>
                </div>
            </div>
            <div fxFlex="45" fxFlex.xs="49" fxLayout="column" fxLayoutAlign="center center" class="gallery-videos gallery-tile">
                <h4 class="mat-title">Video</h4> 
                <mat-icon svgIcon="video"></mat-icon>
                <div class="gallery-message">
                    <p class="mat-body1">
                        All videos and put it on youtube website and embled here as videos
                    </p>
                </div>
            </div>
            <div fxFlex="45" fxFlex.xs="49" fxLayout="column" fxLayoutAlign="center center" class="gallery-musics gallery-tile">
                <h4 class="mat-title">Music</h4> 
                <mat-icon svgIcon="audio"></mat-icon>
                <div class="gallery-message">
                    <p class="mat-body1">
                        You can listen all gujarati, hindi bhajan, garba, arati etc...
                    </p>
                </div>
            </div>
            <div fxFlex="45" fxFlex.xs="49" fxLayout="column" fxLayoutAlign="center center" class="gallery-books gallery-tile">
                <h4 class="mat-title">Books</h4> 
                <mat-icon svgIcon="books"></mat-icon>
                <div class="gallery-message">
                    <p class="mat-body1">
                        religion, arati, holly books, in pdf formate.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>