<div class="form-container" div fxLayout="row" fxLayoutAlign="center start">
    <form fxFlex="75" 
        (ngSubmit)="onSubmit(f)" #f="ngForm" fxFlex.xs="100">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start start" >
            
            <div fxFlex="100" class="formTitle">
                <h3 class="mat-subheading-2">Request Form</h3>
            </div>

            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" maxlength="30" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
              <input matInput placeholder="First Name" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$" #firstName="ngModel" name="firstName" ngModel required>
              <mat-error *ngIf="firstName.invalid">Please enter valid firstname</mat-error>
            </mat-form-field>


            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
              <input matInput maxlength="30" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$" name="lastName" ngModel #lastName="ngModel" placeholder="Last Name" required>
              <mat-error *ngIf="lastName.invalid">Please enter valid email</mat-error>
            </mat-form-field>


            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Please enter valid Email address.">
              <input matInput  name="email" maxlength="30" #email="ngModel" email ngModel placeholder="Enter your email"  required>
              <mat-error *ngIf="email.invalid">Please enter valid email</mat-error>
            </mat-form-field>


            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Please enter valid US phone number.">
              <span matPrefix>+1 &nbsp;</span>
              <input type="tel" matInput maxlength="10" name="phone" pattern="^\d{10}$" ngModel #phone="ngModel" placeholder="Telephone" required>
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="phone.invalid">Please enter valid phone number</mat-error>
            </mat-form-field>

            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Please choose date that you want to book this hall.">
              <input matInput [min]="minDate" name="serviceDate" ngModel [matDatepicker]="picker" placeholder="Choose a date" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="we charge $100 deposit amount">
              <input matInput type="number" name="depositAmnt" disabled value="100" maxlength="5" #depositAmnt="ngModel" ngModel placeholder="100">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
              <mat-error *ngIf="depositAmnt.invalid">Please enter valid amount</mat-error>
            </mat-form-field>

          
            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Please enter valid 16 degit card number.">
              <input matInput type="number" name="cardNumber" maxlength="16" #cardNumber="ngModel" pattern="^\d{16}$" ngModel placeholder="Card Number"  required>
              <mat-error *ngIf="email.invalid">Please enter valid card number</mat-error>
            </mat-form-field>

            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Please enter card expire date in MM/YYYY.">
              <input matInput  name="expireDate" maxlength="30" #expireDate="ngModel"  ngModel placeholder="Enter card expire month and year"  required>
              <mat-error *ngIf="expireDate.invalid">Please enter valid expire month and year</mat-error>
            </mat-form-field>

            <mat-form-field ngStyle.xs="width:100%;" fxFlex="25" fxFlex.xs="100" hintLabel="Please enter valid security code.">
              <input matInput type="number" pattern="^\d{3}$" name="securityCode" maxlength="3" #securityCode="ngModel" ngModel placeholder="Enter security code"  required>
              <mat-error *ngIf="securityCode.invalid">Please enter valid security code</mat-error>
            </mat-form-field>

  

            <div fxFlex="100" fxFlexAlign="end" class="submitBtnContainer text-right">
                <button mat-mini-fab id="xsHallRentalSubmit" fxHide fxHide.xs="false" [disabled]="!f.valid">
                    <mat-icon aria-label="submit preist request">send</mat-icon>
                </button>
                <button mat-fab id="lgHallRentalSubmit" fxShow fxShow.xs="false" [disabled]="!f.valid">
                    <mat-icon aria-label="submit preist request">send</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>