<div class="form-container" div fxLayout="row" fxLayoutAlign="center start">
  <form fxFlex="75" fxFlex.sm="90" fxFlex.xs="100" novalidate>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start start">

      <div fxFlex="100" class="formTitle">
        <h3 class="mat-subheading-2">Request Form</h3>
      </div>

      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" maxlength="30" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
        <input matInput placeholder="First Name" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>


      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
        <input matInput maxlength="30" placeholder="Last Name" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>


      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Please enter valid Email address.">
        <input matInput placeholder="Enter your email" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>


      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Please enter valid US phone number.">
        <span matPrefix>+1 &nbsp;</span>
        <input type="tel" matInput placeholder="Telephone" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>


      <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>

      <div fxFlex="100" fxFlexAlign="end" class="submitBtnContainer text-right">
        <button mat-mini-fab id="contactUsSubmit">
          <mat-icon aria-label="submit priest request">send</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>