<section id="upcomingEvents">
    <div id="titleForUpcomingEvents">
        <h1 ngClass.gt-sm="mat-headline">Upcomming Events</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start" >
        <mat-card fxHide fxHide.gt-xs="false" class="upcoming-event-card" fxFlex="75" fxFlex.sm="90">
            <mat-card-content fxLayout="row" fxLayoutAlign="center center">
              <div class="left-side-card" fxFlex="30">
                  <h4 class="hnd-title">Upcomming Event</h4>
                  <h1 class="hnd-heading">18</h1>
                  <h5 class="hnd-title">Feb, 2018</h5>
                  <button mat-raised-button >Join Event</button>
              </div>
      
              <div class="right-side-card" fxFlex="70">
                  <h4 class="hnd-title">Makrsankratri Festival (Kites Festival)</h4>
                  <p>
                      2 The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting. <a href="#">LEARN MORE</a>
                    </p>
                    <hr>
                    <mat-icon>location_on</mat-icon>1035 Five Chop Road, (Hwy 301) Orangeburg SC 29115
                    <div fxLayout="row" fxLayoutAlign="start center" >
                        <div class="fb-avatar" mat-card-avatar ></div>
                        <div class="fb-avatar"  mat-card-avatar ></div>
                        <div class="fb-avatar"  mat-card-avatar ></div>
                        <div class="no-fb" mat-card-avatar> 32+ </div>
                        <div class="fb-comment">
                            <mat-icon fxFlexAlign="end">location_on</mat-icon>32 Comments
                        </div>
                    </div>
              </div>
            </mat-card-content>
        </mat-card>
        <mat-card fxHide fxHide.lt-sm="false" class="upcoming-event-card-mobile" fxFlex="90">
            <mat-card-content class="text-center">
              <div class="event-card-header">
                <h4 class="hnd-mb-heading">Up Comming</h4>
                <h1 class="hnd-mb-heading">18</h1>
                <h4 class="hnd-mb-heading">Feb, 2018</h4>
              </div>
              <h4 class="hnd-mb-title text-center">Makrsankratri Festival (Kites Festival)</h4>
              <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small.
                </p>
            </mat-card-content>
            <mat-card-actions class="text-center">
              <button class="joinEvent" mat-button>JOIN</button>
              <button class="learnMore" mat-button>LEARN MORE</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="center start">
        <mat-card fxFlex="75">
            <form class="subscrib-email-form">
                <mat-form-field class="subscribeme">
                  <input matInput placeholder="Email"/>
                  <mat-hint>Errors appear instantly!</mat-hint>
                </mat-form-field>
            </form> 
        </mat-card>
    </div> -->
</section>
