@import '~sass/variables';
@import '~sass/mixins';


mat-nav-list {
    padding-top: 0;
    color: $white;
    button {
        font-size: 18px;
        &.active {
            background: rgba(0,0,0,.12);
        }
    }
}