<div class="form-container" div fxLayout="row" fxLayoutAlign="center start">
    <form fxFlex="50" fxFlex.sm="75" fxFlex.xs="100" novalidate>
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start start" >
            
            <div fxFlex="100" class="formTitle">
                <h3 class="mat-subheading-2">Request Form</h3>
            </div>

            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" maxlength="30" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
              <input matInput placeholder="First Name" required>
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>


            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Number and Sign not allowed">
              <input matInput maxlength="30" placeholder="Last Name" required>
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>


            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Please enter valid Email address.">
              <input matInput placeholder="Enter your email"  required>
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>


            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100" hintLabel="Please enter valid US phone number.">
              <span matPrefix>+1 &nbsp;</span>
              <input type="tel" matInput placeholder="Telephone" required>
              <mat-icon matSuffix>mode_edit</mat-icon>
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>


            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100">
              <mat-select placeholder="Select" required>
                  <mat-option vlaue="1">Shree Ganesh Abhishek Puja </mat-option>
                  <mat-option vlaue="2">Shree Ganesh Homa</mat-option> 
                  <mat-option vlaue="3">Shree Laxmi Puja Abhishek</mat-option>   
                  <mat-option vlaue="4">Shree Vishnu Sahastra Puja</mat-option>  
                  <mat-option vlaue="5">Shree Vishnu Homa</mat-option>   
                  <mat-option vlaue="6">Shree Radha Krishna Puja</mat-option> 
                  <mat-option vlaue="7">Shree Ramrajopchar Puja</mat-option> 
                  <mat-option vlaue="8">Shree Maruti Puja</mat-option>   
                  <mat-option vlaue="9">Shree Sundarkand Patha</mat-option>  
                  <mat-option vlaue="10">Shree Shiv Abhishek</mat-option> 
                  <mat-option vlaue="11">Shree Shiv Pathatmak Laghurudra</mat-option> 
                  <mat-option vlaue="12">Shree Shiv Homatmak Laghurudra</mat-option>  
                  <mat-option vlaue="13">Shree Panchvakrat Shivmaha Puja</mat-option> 
                  <mat-option vlaue="14">Shree Shodshopchar Durga Puja</mat-option>   
                  <mat-option vlaue="15">Shree Pathatmak Navachandi</mat-option>  
                  <mat-option vlaue="16">Shree Chandi Patha</mat-option>  
                  <mat-option vlaue="17">Shree Navgrah Puja &amp; Grahshanti</mat-option> 
                  <mat-option vlaue="18">Shree Vat Savitri Vrat Puja</mat-option>
                  <mat-option vlaue="19">Shree Navgrah Puja &amp; Grahshanti</mat-option>
                  <mat-option vlaue="20">Shree Vat SavitriVrat Puja</mat-option>
                  <mat-option vlaue="21">Yagnopavit &amp; Gruhshanti</mat-option>
                  <mat-option vlaue="22">Engagement/Vivah</mat-option>
                  <mat-option vlaue="23">Marriage</mat-option>
                  <mat-option vlaue="24">Vastu Homa Satyanarayan katha</mat-option>
                  <mat-option vlaue="25">New Business/Office Puja</mat-option>
                  <mat-option vlaue="26">New Born's First Puja</mat-option>
                  <mat-option vlaue="27">Nakshatra Yoga Shanti</mat-option>
                  <mat-option vlaue="28">Car puja</mat-option>
                  <mat-option vlaue="29">Shraddha Karma</mat-option>
                  <mat-option vlaue="30">Satya Narayan Katha</mat-option>
                  <mat-option vlaue="31">Shree Havan &amp; Satya Narayan Katha</mat-option>
                  <mat-option vlaue="32">Chaul Karma - Mundan - Babari</mat-option>
                  <mat-option vlaue="33">Uttarkriya  (Rituals following death)</mat-option>
                  <mat-option vlaue="34">Pind Saravni ( After Death Vidhi)</mat-option>
                  <mat-option vlaue="35">Shree Homatmak Navchandi</mat-option>
                  <mat-option vlaue="36">Lagna Kankotri</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field ngStyle.xs="width:100%;" fxFlex="47" fxFlex.xs="100">
              <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Choose a date" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
            <div fxFlex="100" fxFlexAlign="end" class="submitBtnContainer text-right">
                <button mat-mini-fab id="preistSubmit">
                    <mat-icon aria-label="submit preist request">send</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>