<app-hero-home></app-hero-home>
<div class="container">
    <div id="whitePaperHome" class="white-paper" ngStyle.gt-md="margin-top:-40px;" >
        <div class="scrollDown">
            <button mat-fab fxHide  fxHide.gt-sm="false">
                <mat-icon  aria-label="scroll down">arrow_downward</mat-icon>
            </button>
            <button mat-mini-fab fxHide  fxHide.lt-md="false">
                <mat-icon  aria-label="scroll down">arrow_downward</mat-icon>
            </button>
        </div>
        <app-upcoming-events></app-upcoming-events>
        <app-our-services></app-our-services>
        <app-gallery></app-gallery>
        <app-list-of-bod></app-list-of-bod>
        <app-mobile-app-download></app-mobile-app-download>
    </div>
</div>