@import '~sass/variables';
@import '~sass/mixins';
#membership-sign-up {
    padding-top: 112px;
    height: 400px;
    @include gradient($sign-up-direction, $sign-up-gradientColor);
}
#whitePaperSignUp.white-paper {
    .pagetitelcontainer {
        .titleContent {
            @include gradient($sign-up-direction, $sign-up-gradientColor);
        }
    }
    .whitepaperCountainer {
        padding: 20px 0 0;
        #signUpForm {
            mat-horizontal-stepper {
                #yourDetailNextBtn {
                    padding: 20px 10px;
                }
            }
        }
    }
}